.caixa {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.botao{
    font-size: auto;
    color: #a10008;
    width: 125px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: bottom;
}

.nome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: #ffffff;
    text-align: top;
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6565;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;    
  background-color: #746aff;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#box3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;    
  background-color: #746aff;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#box4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6565;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.testejs {
    color: rgb(255, 255, 255); 
    font-weight: bold;
    background-color: rgb(170, 115, 13) !important; 
}